%nav.navbar
  -if current_user
    %div.dropdown
      %button.dropbtn{:onclick =>"myFunction()"} Profile
      %button.dropbtn{:onclick =>"myFunction2()"} People
  -else
    =link_to 'Sign In', new_user_session_path, class:'navlink center'
    =link_to 'Sign Up', new_user_registration_path, class:'navlink'
-if current_user
  %div.dropdown-content#myDropdown
    =link_to 'Public', user_path(current_user.id), class:'link'
    =link_to 'Private', edit_user_registration_path, class:'link'
    =link_to 'Sign Out', destroy_user_session_path, class:'link', method: :delete
-if current_user  
  %div.dropdown-content#myDropdown2
    =link_to 'Users', root_path, class:'link'
    =link_to 'Matches', matches_path(current_user.id), class:'link'
    =link_to 'Questions', questions_path(current_user.id), class:'link'

:javascript
  function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
  }
  
  // Close the dropdown if the user clicks outside of it
  window.onclick = function(e) {
    if (!e.target.matches('.dropbtn')) {
      var myDropdown = document.getElementById("myDropdown");
      var myDropdown2 = document.getElementById("myDropdown2");
        if (myDropdown.classList.contains('show')) {
          myDropdown.classList.remove('show');
        }
        if (myDropdown2.classList.contains('show')) {
          myDropdown2.classList.remove('show');
        }
    }
  }

  function myFunction2() {
      document.getElementById("myDropdown2").classList.toggle("show");
  }
  
  